<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Boggle</title>
</head>

<body>
    <section id="boggle">
        <table>
            {% for row in board %}
            <tr>
                {%for cell in row %}
                <td>{{cell}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </section>

    <p>
    <form method="POST" class="add-word">
        <label for="guess_word">Guess</label>
        <input type="text" name="guess_word" id="guess_word">
        <button>Submit</button>
    </form>
    </p>
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>
    <script>
        let game = new BoggleGame("boggle", 60);
    </script>
</body>

</html>